.App {
  text-align: center;
}
.App::-webkit-scrollbar {
  display: none;
}
.blog-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 95%;
  margin: auto;
  gap: 5px;
  justify-content: center;
}
.blog-list::-webkit-scrollbar {
  width: none !important;
  display: none;
}
.blog-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  width: 330px;
  min-height: fit-content;
}
.blog-card:hover{
  cursor: pointer;
  background-color: rgb(239, 235, 235);
}
.blog-cover{
  width: 100%;
  height: 90%;
}
.blog-cover img{
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.blog-title{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.loading-div{
  height: 50px;
  margin-bottom: 10px;
}